Repository ansys/pyedb, pull requests merged in 2024-09, with the labels that each got.

#792 FIX: padstack and siwave
  examples/use_configuration/import_ports.py
  src/pyedb/configuration/configuration.py
  src/pyedb/dotnet/edb_core/edb_data/padstacks_data.py
  src/pyedb/siwave.py
  tests/legacy/system/test_edb_configuration_2p0.py
Labels: grpc

#807 FIX: Improve cutout voids
  src/pyedb/dotnet/edb.py
  src/pyedb/dotnet/edb_core/edb_data/nets_data.py
  tests/legacy/system/test_edb.py
Labels: grpc-tracked

#810 FEAT: EDB Config - export component properties
  src/pyedb/configuration/cfg_boundaries.py
  src/pyedb/configuration/cfg_common.py
  src/pyedb/configuration/cfg_components.py
  src/pyedb/configuration/cfg_data.py
  src/pyedb/configuration/cfg_operations.py
  src/pyedb/configuration/cfg_ports_sources.py
  src/pyedb/configuration/configuration.py
  src/pyedb/dotnet/edb_core/cell/hierarchy/component.py
  src/pyedb/dotnet/edb_core/cell/terminal/terminal.py
  src/pyedb/dotnet/edb_core/edb_data/hfss_extent_info.py
  tests/legacy/system/test_edb_components.py
  tests/legacy/system/test_edb_configuration_2p0.py
Labels: grpc-transition

#809 CI: Add labeler for grpc transition
  .github/labeler.yml
  .github/labels.yml
  .github/workflows/label.yml
Labels: maintenance, ci/cd

#816 REFACTOR: edb cfg s parameter export and bug fix
  src/pyedb/configuration/cfg_components.py
  src/pyedb/configuration/cfg_data.py
  src/pyedb/configuration/cfg_padstacks.py
  src/pyedb/configuration/cfg_s_parameter_models.py
  src/pyedb/configuration/configuration.py
  src/pyedb/dotnet/edb_core/cell/hierarchy/component.py
  src/pyedb/dotnet/edb_core/definition/component_def.py
  src/pyedb/dotnet/edb_core/definition/component_model.py
  src/pyedb/dotnet/edb_core/edb_data/padstacks_data.py
  tests/legacy/system/test_edb.py
  tests/legacy/system/test_edb_configuration_2p0.py
  tests/legacy/system/test_edb_padstacks.py
Labels: testing, grpc-transition

#817 FIX: Speedup Edb plot method
  src/pyedb/dotnet/edb_core/nets.py
Labels: grpc-transition

#819 CI: Fix pyaedt test in linux
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

#821 CI: Extend pyaedt testing timeout linux
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

#818 FIX: return matplotlib object in plot methods
  src/pyedb/dotnet/edb_core/edb_data/nets_data.py
  src/pyedb/dotnet/edb_core/nets.py
Labels: grpc-transition

#825 CI: Extend var env in pyaedt test linux
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd
