Repository ansys/pyedb, pull requests merged in 2024-12, with the labels that each got.

#923 FIX: Roughness model fix
  src/pyedb/dotnet/edb_core/edb_data/layer_data.py
  tests/legacy/system/test_edb_stackup.py
Labels: testing

#924 FIX: DOTNET_ROOT handling with pyaedt
  src/pyedb/dotnet/clr_module.py
Labels: maintenance, ci/cd

#935 FIX: reference_size_auto
  src/pyedb/configuration/cfg_components.py
  tests/legacy/system/test_edb_configuration_2p0.py
Labels: testing

#934 FIX: minor fix on dictionary
  src/pyedb/dotnet/edb_core/layout_validation.py
  tests/legacy/system/test_edb.py
Labels: testing, grpc-transition

#933 FIX: Set DOTNET_ROOT with str and not Path
  src/pyedb/dotnet/clr_module.py
  tests/legacy/unit/test_clr_module.py
Labels: testing

#917 REFACTOR: EDB configuration example for DCIR setup
  doc/source/conf.py
  examples/use_configuration/dcir.py
  examples/use_configuration/index.rst
Labels: documentation

#940 FIX: edb cfg terminal naming
  examples/use_configuration/pcb_dc_ir.py
  src/pyedb/configuration/cfg_ports_sources.py
Labels: documentation

#950 FIX: edb cfg example
  examples/use_configuration/pcb_dc_ir.py
Labels: documentation

#942 FEAT: Via clustering based on polygon
  src/pyedb/dotnet/edb_core/padstack.py
  tests/legacy/system/test_edb_padstacks.py
Labels: testing, grpc-transition

#946 FEAT: Reduce via in bounding box
  src/pyedb/dotnet/edb_core/padstack.py
  tests/example_models/TEDB/vias_300.aedb/edb.def
  tests/legacy/system/test_edb_padstacks.py
  tests/legacy/unit/test_padstack.py
Labels: testing, grpc-transition
