Repository ansys/pyedb, pull requests merged in 2024-11, with the labels that each got.

#880 FIX: polygon doesn't update after expansion
  src/pyedb/configuration/cfg_padstacks.py
  src/pyedb/configuration/configuration.py
  src/pyedb/dotnet/edb_core/cell/primitive/primitive.py
  src/pyedb/dotnet/edb_core/edb_data/primitives_data.py
  tests/legacy/system/test_edb_modeler.py
Labels: testing, grpc-transition

#884 REFACTOR: New edb cfg example
  examples/use_configuration/index.rst
  examples/use_configuration/pdn_analysis.py
  examples/use_configuration/serdes.py
Labels: documentation

#887 FIX: example
  doc/source/conf.py
  examples/use_configuration/serdes.py
Labels: documentation

#888 FEAT: adding support to extra properties in layer and vias
  src/pyedb/dotnet/edb_core/edb_data/control_file.py
  tests/legacy/system/test_edb.py
Labels: testing

#881 FEAT: add export gds comps xml function
  src/pyedb/dotnet/edb.py
  tests/legacy/system/test_edb_components.py
Labels: testing, grpc-transition

#894 BUILD: bump numpy upper limit to 3.X
  pyproject.toml
Labels: maintenance, dependencies

#892 DOCS: Correct typos in class names/paths
  doc/source/api/CoreEdb.rst
  doc/source/api/SimulationConfigurationV2.rst
  doc/source/api/edb_data/PrimitivesData.rst
  doc/source/api/sim_setup_data/data/settings.rst
  doc/source/api/utilities/simulation_setup.rst
Labels: documentation

#896 FEAT: variable description
  src/pyedb/dotnet/edb.py
  tests/legacy/system/test_edb.py
Labels: testing, grpc-transition

#890 REFACTOR: Edb cfg doc
  examples/use_configuration/index.rst
Labels: documentation

#901 REFACTOR: Material to match gRPC implementation
  src/pyedb/dotnet/edb_core/materials.py
Labels: documentation, grpc-transition

#900 REFACTOR: plot method
  examples/legacy_standalone/11_post_layout_parameterization.py
  pyproject.toml
  src/pyedb/common/__init__.py
  src/pyedb/common/nets.py
  src/pyedb/dotnet/edb_core/edb_data/nets_data.py
  src/pyedb/dotnet/edb_core/edb_data/padstacks_data.py
  src/pyedb/dotnet/edb_core/hfss.py
  src/pyedb/dotnet/edb_core/modeler.py
  src/pyedb/dotnet/edb_core/nets.py
  src/pyedb/generic/filesystem.py
  tests/legacy/system/test_edb_padstacks.py
Labels: documentation, maintenance, dependencies, testing, grpc-transition

#909 CHORE: Updated ansys-pythonnet requirement
  pyproject.toml
Labels: maintenance, dependencies

#907 CI: Update pyaedt tests jobs
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

#911 FIX: Edb cfg padstack solderball
  src/pyedb/configuration/cfg_padstacks.py
  tests/legacy/system/test_edb_configuration_2p0.py
Labels: testing

#913 CI: Fix release workflow
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

#903 REFACTOR: New edb cfg example dcir
  doc/source/conf.py
  examples/use_configuration/import_sources.py
  examples/use_configuration/index.rst
  examples/use_configuration/pcb_dc_ir.py
Labels: documentation

#916 REFACTOR: Dotnet coreclr loading
  .github/workflows/ci_cd.yml
  doc/source/build_breaking_change.rst
  src/pyedb/__init__.py
  src/pyedb/dotnet/clr_module.py
  tests/test_warnings.py
Labels: documentation, maintenance, testing, ci/cd
