Repository ansys/pyedb, pull requests merged in 2024-10, with the labels that each got.

#829 FIX: IC Die Properties setter fixes
  src/pyedb/configuration/cfg_components.py
  src/pyedb/dotnet/edb_core/cell/hierarchy/component.py
  tests/legacy/system/test_edb_components.py
  tests/legacy/system/test_edb_configuration_2p0.py
Labels: testing

#824 REFACTOR: edb configuration stackup layer
  src/pyedb/configuration/cfg_data.py
  src/pyedb/configuration/cfg_general.py
  src/pyedb/configuration/cfg_setup.py
  src/pyedb/configuration/cfg_stackup.py
  src/pyedb/configuration/configuration.py
  src/pyedb/dotnet/edb_core/edb_data/layer_data.py
  src/pyedb/dotnet/edb_core/edb_data/padstacks_data.py
  tests/legacy/system/test_edb_configuration_2p0.py
  tests/legacy/system/test_edb_stackup.py
Labels: testing, grpc-transition

#839 DOCS: Future build breaking change on Linux
  doc/source/build_breaking_change.rst
  doc/source/index.rst
  doc/styles/Vocab/ANSYS/accept.txt
  src/pyedb/__init__.py
  tests/test_warnings.py
Labels: documentation, maintenance, dependencies, testing

#844 FEAT: edb cfg roughness
  src/pyedb/configuration/cfg_stackup.py
  src/pyedb/dotnet/edb_core/edb_data/layer_data.py
  tests/legacy/system/test_edb_configuration_2p0.py
  tests/legacy/system/test_edb_stackup.py
Labels: grpc-transition

#845 FIX: Improve cutout speed
  src/pyedb/__init__.py
  src/pyedb/dotnet/edb.py
  src/pyedb/dotnet/edb_core/cell/layout.py
  src/pyedb/dotnet/edb_core/cell/primitive/primitive.py
  src/pyedb/dotnet/edb_core/components.py
  src/pyedb/dotnet/edb_core/layout_validation.py
  src/pyedb/dotnet/edb_core/padstack.py
Labels: grpc-transition

#847 FEAT: layout validation padstack names
  src/pyedb/configuration/cfg_components.py
  src/pyedb/configuration/cfg_padstacks.py
  src/pyedb/dotnet/edb_core/edb_data/padstacks_data.py
  src/pyedb/dotnet/edb_core/layout_validation.py
  src/pyedb/siwave.py
Labels: grpc-transition

#852 FEAT: #850 : Add custom title argument to plot function
  src/pyedb/dotnet/edb_core/nets.py
Labels: grpc-transition

#855 CHORE: Upgrade doc style action
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
  Makefile
  doc/source/api/SiWave.rst
  doc/source/api/XmlControlFile.rst
  doc/source/api/edb_data/PortsData.rst
  doc/source/api/edb_data/SourceData.rst
  doc/source/api/sim_setup_data/data/siw_dc_ir_settings.rst
  doc/source/api/sim_setup_data/io/siwave.rst
  doc/source/api/utilities/siwave_simulation_setup.rst
  doc/source/user_guide/components/create_rlc_component.rst
  doc/source/user_guide/edb_information_queries/edb_queries.rst
  doc/styles/.gitignore
  doc/styles/config/vocabularies/ANSYS/accept.txt
  doc/styles/config/vocabularies/ANSYS/reject.txt
  pyproject.toml
Labels: documentation, maintenance, dependencies, ci/cd

#856 CHORE: Temporary removal of docformatter hook
  .pre-commit-config.yaml
  doc/source/conf.py
  examples/use_configuration/set_up_edb_for_signal_integrity_analysis.py
Labels: documentation

#862 FIX: via name convention
  src/pyedb/dotnet/edb_core/layout_validation.py
Labels: grpc-transition

#866 REFACTOR: new example
  examples/use_configuration/import_ports.py
  examples/use_configuration/import_sources.py
Labels: documentation

#868 FEAT: Add default value to material permeability
  src/pyedb/dotnet/edb_core/materials.py
  tests/legacy/system/test_edb_materials.py
Labels: testing, grpc-transition

#869 FIX: example docs
  doc/source/conf.py
  examples/use_configuration/import_sources.py
  examples/use_configuration/index.rst
Labels: documentation

#875 FEAT: cfg modeler
  examples/use_configuration/import_ports.py
  src/pyedb/configuration/cfg_common.py
  src/pyedb/configuration/cfg_components.py
  src/pyedb/configuration/cfg_data.py
  src/pyedb/configuration/cfg_modeler.py
  src/pyedb/configuration/cfg_padstacks.py
  src/pyedb/configuration/cfg_ports_sources.py
  src/pyedb/configuration/configuration.py
  src/pyedb/dotnet/edb_core/cell/layout.py
  tests/legacy/system/test_edb_configuration_2p0.py
Labels: documentation, testing
