Repository ansys/pyedb, pull requests merged in 2025-04, with the labels that each got.

#1091 FEAT: Grpc transition pr#992 tracker
  src/pyedb/grpc/database/layout/layout.py
  src/pyedb/grpc/database/padstacks.py
  src/pyedb/grpc/database/primitive/padstack_instance.py
  tests/grpc/system/test_edb_layout.py
  tests/grpc/system/test_edb_padstacks.py
Labels: testing

#1104 FEAT: grpc tracker pr#852
  src/pyedb/common/nets.py
  src/pyedb/grpc/database/net/net.py
Labels: testing

#1103 FEAT: Grpc tracker pr#862
  src/pyedb/grpc/database/layout_validation.py
Labels: testing

#1102 FEAT: Grpc tracker pr#881
  src/pyedb/grpc/edb.py
  tests/grpc/system/test_edb_components.py
Labels: testing

#1106 FIX: Adding shapely main dependencies
  pyproject.toml
Labels: maintenance, dependencies

#1098 FEAT: grpc transition tracker pr#946
  src/pyedb/grpc/database/padstacks.py
  tests/grpc/system/test_edb_padstacks.py
Labels: testing

#1097 FIX: grpc transition tracker pr#966
  src/pyedb/grpc/database/components.py
Labels: testing

#1099 FEAT: Grpc transition pr#942
  src/pyedb/grpc/database/padstacks.py
  tests/grpc/system/test_edb_padstacks.py
Labels: testing

#995 FIX: Get primitive from point bug fix with terminal
  src/pyedb/dotnet/database/modeler.py
Labels: grpc-transition

#1101 REFACTOR: Removing simulation configuration legacy
  src/pyedb/grpc/edb.py
Labels: testing

#1095 FIX: Circuit port creation on multiple pins
  src/pyedb/dotnet/database/components.py
  tests/legacy/system/test_edb.py
Labels: testing, grpc-transition

#1075 FEAT: Add material from stackup
  src/pyedb/configuration/cfg_stackup.py
  src/pyedb/dotnet/database/materials.py
  tests/legacy/system/test_edb_configuration_2p0.py
  tests/legacy/system/test_edb_materials.py
Labels: testing, grpc-transition

#1110 CI: Add mandatory token to Github release job
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

#1096 FEAT: split via, convert via hole to conical shape
  src/pyedb/dotnet/database/edb_data/padstacks_data.py
  tests/legacy/system/test_edb_padstacks.py
Labels: testing, grpc-transition

#1118 FIX: Setup name fix
  src/pyedb/dotnet/database/siwave.py
  src/pyedb/dotnet/database/utilities/simulation_setup.py
  tests/legacy/system/test_edb.py
Labels: testing, grpc-transition

#1117 FEAT: grpc Cfg file 2p0 components
  src/pyedb/configuration/cfg_components.py
  tests/grpc/system/test_edb_configuration_2p0.py
Labels: testing, grpc-transition

#1119 FEAT: grpc Cfg file 2p0 setups
  src/pyedb/configuration/cfg_general.py
  src/pyedb/configuration/cfg_setup.py
  tests/grpc/system/test_edb_configuration_2p0.py
Labels: testing

#1121 FEAT: grpc Cfg file 2p0 spice model
  src/pyedb/grpc/database/hierarchy/component.py
  src/pyedb/grpc/database/hierarchy/s_parameter_model.py
  src/pyedb/grpc/database/hierarchy/spice_model.py
Labels: testing

#1126 FIX: port location
  src/pyedb/dotnet/database/cell/terminal/padstack_instance_terminal.py
  src/pyedb/dotnet/database/cell/terminal/point_terminal.py
  src/pyedb/dotnet/database/cell/terminal/terminal.py
  tests/legacy/system/test_edb_configuration_2p0.py
Labels: testing, grpc-transition

#1129 FIX: freq sweep type
  src/pyedb/dotnet/database/utilities/simulation_setup.py
  tests/legacy/system/test_edb_configuration_2p0.py
Labels: testing, grpc-transition

#1131 FIX: Cfg boundaries refactoring
  src/pyedb/configuration/cfg_boundaries.py
  tests/grpc/system/test_edb_configuration_2p0.py
Labels: testing

#1140 REFACTOR: freq sweep
  src/pyedb/dotnet/database/sim_setup_data/data/sweep_data.py
  src/pyedb/dotnet/database/utilities/simulation_setup.py
  tests/legacy/system/test_edb.py
Labels: testing, grpc-transition

#1141 REFACTOR: Import gds
  src/pyedb/dotnet/edb.py
  tests/legacy/system/test_edb.py
Labels: testing

#1143 REFACTOR: cfg setups
  doc/source/api/SimulationConfigurationV2.rst
  src/pyedb/configuration/cfg_setup.py
  src/pyedb/configuration/configuration.py
  src/pyedb/dotnet/database/sim_setup_data/data/sweep_data.py
  src/pyedb/dotnet/database/utilities/simulation_setup.py
  tests/legacy/system/test_edb_configuration_2p0.py
Labels: documentation, testing, grpc-transition

#1146 REFACTOR: split via
  src/pyedb/dotnet/database/edb_data/padstacks_data.py
  tests/legacy/system/test_edb_padstacks.py
Labels: testing, grpc-transition

#1147 FEAT: grpc configuration file setup
  src/pyedb/configuration/cfg_setup.py
  tests/grpc/system/test_edb_configuration_2p0.py
Labels: testing

#1154 FIX: fail to set is_pin
  src/pyedb/configuration/cfg_padstacks.py
  src/pyedb/configuration/cfg_ports_sources.py
  tests/legacy/system/test_edb_configuration_2p0.py
Labels: testing

#1150 FIX: Syz setup debug
  src/pyedb/dotnet/database/utilities/simulation_setup.py
  src/pyedb/dotnet/database/utilities/siwave_simulation_setup.py
  tests/legacy/system/test_edb.py
Labels: testing

#1160 FIX: Honor offset for create_rectangle_in_pad
  src/pyedb/dotnet/database/edb_data/padstacks_data.py
  src/pyedb/dotnet/database/geometry/polygon_data.py
  tests/example_models/TEDB/padstacks.aedb/edb.def
  tests/legacy/system/test_edb_padstacks.py
Labels: testing

#1166 FIX: Grpc import failure fix
  tests/legacy/system/test_edb_padstacks.py
Labels: testing

#1163 FEAT: anti_pads_always_on and padstack rotation
  src/pyedb/configuration/cfg_components.py
  src/pyedb/configuration/cfg_general.py
  src/pyedb/configuration/cfg_modeler.py
  src/pyedb/dotnet/database/edb_data/design_options.py
  src/pyedb/dotnet/database/padstack.py
  tests/legacy/system/test_edb.py
Labels: testing, grpc-transition

#1165 FEAT: grpc cfg padstacks
  src/pyedb/configuration/cfg_padstacks.py
  src/pyedb/grpc/database/definition/padstack_def.py
  src/pyedb/grpc/database/primitive/padstack_instance.py
  tests/grpc/system/test_edb_configuration_2p0.py
Labels: testing

#1167 FEAT: grpc cfg package
  src/pyedb/configuration/cfg_package_definition.py
  src/pyedb/grpc/database/definition/package_def.py
  tests/grpc/system/test_edb_configuration_2p0.py
Labels: testing

#1172 FEAT: grpc stackup with cfg
  src/pyedb/configuration/cfg_stackup.py
  src/pyedb/grpc/database/definition/materials.py
  src/pyedb/grpc/database/layers/layer.py
  src/pyedb/grpc/database/layers/stackup_layer.py
  src/pyedb/grpc/database/stackup.py
  tests/grpc/system/test_edb_configuration_2p0.py
Labels: testing
