Repository ansys/pyedb, pull requests merged in 2025-08, with the labels that each got.

#1433 FIX: Latest grpc test fix
  .github/workflows/ci_cd.yml
  src/pyedb/configuration/cfg_data.py
  src/pyedb/configuration/cfg_operations.py
  src/pyedb/configuration/configuration.py
  src/pyedb/dotnet/database/layout_validation.py
  src/pyedb/dotnet/database/siwave.py
  src/pyedb/dotnet/edb.py
  src/pyedb/generic/process.py
  src/pyedb/generic/settings.py
  src/pyedb/grpc/database/components.py
  src/pyedb/grpc/database/definition/materials.py
  src/pyedb/grpc/database/definition/padstack_def.py
  src/pyedb/grpc/database/nets.py
  src/pyedb/grpc/database/padstacks.py
  src/pyedb/grpc/database/primitive/padstack_instance.py
  src/pyedb/grpc/database/siwave.py
  src/pyedb/grpc/edb.py
  tests/system/test_cutout.py
  tests/system/test_edb.py
  tests/system/test_edb_configuration_2p0.py
  tests/system/test_edb_geometry.py
  tests/system/test_edb_materials.py
  tests/system/test_edb_modeler.py
  tests/system/test_edb_padstacks.py
  tests/system/test_edb_stackup.py
  tests/system/test_extensions.py
  tests/system/test_layout_validation.py
Labels: maintenance, testing, grpc-transition, ci/cd

#1448 FIX: unite_polygons_on_layer
  src/pyedb/dotnet/database/modeler.py
Labels: grpc-transition

#1458 BUILD: Remove ansys-edb-api dependency
  pyproject.toml
Labels: maintenance, dependencies

#1456 REFACTOR: Bump tests to 252
  .github/workflows/ci_cd.yml
  src/pyedb/generic/design_types.py
  tests/conftest.py
  tests/unit/test_edb.py
Labels: maintenance, testing, ci/cd

#1453 REFACTOR: Add light weight test board
  tests/conftest.py
  tests/example_models/si_verse/ANSYS-HSD_V1.aedb/edb.def
  tests/example_models/si_verse/ANSYS_SVP_V1_1.aedb/edb.def
  tests/example_models/si_verse/ANSYS_SVP_V1_1_SFP.aedb/edb.def
  tests/example_models/si_verse/ANSYS_SVP_V1_1_SFP.aedb/stride/model.index
Labels: testing

#1460 FEAT: edb cfg cutout auto identify nets support for sources
  src/pyedb/configuration/configuration.py
  tests/system/test_edb_configuration_2p0.py
Labels: testing

#1464 FIX: Stackup import from xml
  src/pyedb/dotnet/database/stackup.py
  tests/system/test_edb_stackup.py
Labels: testing, grpc-transition
