Repository ansys/pyedb, pull requests merged in 2025-06, with the labels that each got.

#1267 FIX: conftest.py
  tests/conftest.py
Labels: testing

#1266 FEAT: grpc dotnet stackup
  src/pyedb/dotnet/database/materials.py
  src/pyedb/grpc/database/components.py
  src/pyedb/grpc/database/definition/materials.py
  src/pyedb/grpc/database/definitions.py
  src/pyedb/grpc/database/hfss.py
  src/pyedb/grpc/database/hierarchy/component.py
  src/pyedb/grpc/database/layers/stackup_layer.py
  src/pyedb/grpc/database/layout_validation.py
  src/pyedb/grpc/database/source_excitations.py
  src/pyedb/grpc/database/stackup.py
  src/pyedb/grpc/edb.py
  tests/grpc/system/test_edb_stackup.py
  tests/legacy/system/test_edb_stackup.py
Labels: testing, grpc-transition

#1236 FEAT: Via Design Toolkit Backend
  src/pyedb/configuration/cfg_modeler.py
  src/pyedb/extensions/__init__.py
  src/pyedb/extensions/pre_layout_design_toolkit/via_design.py
  src/pyedb/extensions/via_design_backend.py
  tests/legacy/system/test_edb_configuration_2p0.py
  tests/legacy/system/test_extensions.py
Labels: testing

#1253 FIX: Solder ball shape
  src/pyedb/dotnet/database/cell/hierarchy/component.py
  tests/grpc/system/test_edb_components.py
  tests/legacy/system/test_edb_components.py
Labels: testing

#1284 REFACTOR: Grpc doc strings
  src/pyedb/dotnet/database/edb_data/padstacks_data.py
  src/pyedb/grpc/database/components.py
  src/pyedb/grpc/database/control_file.py
  src/pyedb/grpc/database/definition/component_def.py
  src/pyedb/grpc/database/hfss.py
  src/pyedb/grpc/database/modeler.py
  src/pyedb/grpc/database/net/net.py
  src/pyedb/grpc/database/nets.py
  src/pyedb/grpc/database/padstacks.py
  src/pyedb/grpc/database/primitive/padstack_instance.py
  src/pyedb/grpc/database/siwave.py
  src/pyedb/grpc/database/stackup.py
  src/pyedb/grpc/edb.py
Labels: testing

#1308 FIX: layout_validation.py
  src/pyedb/configuration/cfg_ports_sources.py
  src/pyedb/configuration/configuration.py
  src/pyedb/dotnet/database/cell/layout.py
  src/pyedb/dotnet/database/dotnet/database.py
  src/pyedb/dotnet/database/layout_validation.py
  src/pyedb/dotnet/database/modeler.py
  src/pyedb/dotnet/edb.py
Labels: grpc-transition

#1317 FIX: stackup load and grpc revert
  src/pyedb/configuration/configuration.py
  src/pyedb/dotnet/database/stackup.py
Labels: grpc-transition

#1314 FIX: Update unit tests to be compatible with upcoming pyedb-core pre-release package
  src/pyedb/grpc/database/definition/materials.py
  tests/grpc/system/test_edb_materials.py
  tests/grpc/system/test_edb_stackup.py
Labels: testing
