Repository ansys/pyedb, pull requests merged in 2025-05, with the labels that each got.

#1175 FEAT: grpc cfg freq sweep added
  src/pyedb/configuration/cfg_setup.py
  src/pyedb/grpc/database/simulation_setup/hfss_simulation_setup.py
  tests/grpc/system/test_edb_configuration_2p0.py
Labels: testing

#1183 FIX: grpc test ports fix
  tests/grpc/system/test_edb_configuration_2p0.py
Labels: testing

#1184 FIX: grpc tests fix
  src/pyedb/configuration/cfg_boundaries.py
  src/pyedb/configuration/cfg_s_parameter_models.py
  src/pyedb/grpc/database/components.py
  src/pyedb/grpc/database/definition/component_def.py
  src/pyedb/grpc/edb.py
  tests/grpc/system/conftest.py
  tests/grpc/system/test_edb_configuration_2p0.py
Labels: testing

#1188 FEAT: grpc cfg siwave setup
  src/pyedb/grpc/database/simulation_setup/siwave_simulation_setup.py
  src/pyedb/grpc/edb_init.py
  tests/grpc/system/conftest.py
Labels: testing

#1192 FIX: Documentation
  README.md
Labels: documentation

#1194 FEAT: grpc source cfg
  src/pyedb/configuration/cfg_ports_sources.py
  src/pyedb/grpc/database/ports/ports.py
  src/pyedb/grpc/database/terminal/edge_terminal.py
  src/pyedb/grpc/database/terminal/pingroup_terminal.py
  src/pyedb/grpc/edb.py
  src/pyedb/grpc/rpc_session.py
  tests/grpc/system/test_edb_configuration_2p0.py
Labels: testing

#1195 FEAT: delete primitives by cfg
  src/pyedb/configuration/cfg_modeler.py
  tests/legacy/system/test_edb_configuration_2p0.py
Labels: testing

#1196 FIX: grpc multiple bug fix
  src/pyedb/grpc/database/layout_validation.py
  src/pyedb/grpc/database/padstacks.py
  src/pyedb/grpc/database/source_excitations.py
  src/pyedb/grpc/edb.py
  tests/grpc/system/test_edb.py
  tests/grpc/system/test_edb_padstacks.py
Labels: testing

#1199 FIX: Fix unit tests that failed due to recent pyedb-core change in SweepData API
  src/pyedb/grpc/database/hfss.py
  src/pyedb/grpc/database/simulation_setup/sweep_data.py
  src/pyedb/grpc/database/siwave.py
  tests/grpc/system/test_edb.py
Labels: testing

#1215 FEAT: Material thermal modifier
  src/pyedb/configuration/cfg_stackup.py
  src/pyedb/dotnet/database/materials.py
  src/pyedb/dotnet/edb.py
  tests/legacy/system/test_edb.py
  tests/legacy/system/test_edb_configuration_2p0.py
  tests/legacy/system/test_edb_materials.py
Labels: testing, grpc-transition

#1240 FIX: Skipping random failing test linux
  tests/grpc/system/test_edb.py
Labels: testing

#1241 FEAT: test grpc compatibility edb definitions
  src/pyedb/dotnet/database/definition/package_def.py
  tests/grpc/system/test_edb_definition.py
  tests/legacy/system/test_edb_definition.py
Labels: testing

#1243 FEAT: grpc compatibility diff pairs
  tests/legacy/system/test_edb_differential_pairs.py
  tests/legacy/system/test_edb_extended_nets.py
Labels: testing

#1244 FEAT: grpc compatibility test edb layout
  src/pyedb/dotnet/database/geometry/polygon_data.py
  tests/grpc/system/test_edb_layout.py
  tests/legacy/system/test_edb_layout.py
Labels: testing

#1246 FIX: SIwave Sweep
  src/pyedb/dotnet/database/utilities/siwave_simulation_setup.py
  tests/legacy/system/test_edb_configuration_2p0.py
Labels: testing

#1254 FIX: Res value, Ind_value, Cap_calue
  src/pyedb/dotnet/database/cell/hierarchy/component.py
  src/pyedb/dotnet/database/components.py
  tests/grpc/system/test_edb_components.py
  tests/legacy/system/test_edb_components.py
Labels: testing, grpc-transition

#1238 FIX: Multi freq
  src/pyedb/dotnet/database/sim_setup_data/data/settings.py
  src/pyedb/dotnet/database/utilities/hfss_simulation_setup.py
  tests/legacy/system/test_edb.py
Labels: testing
