Repository ansys/pyedb, pull requests merged in 2025-07, with the labels that each got.

#1311 FEAT: Compare edbs
  src/pyedb/dotnet/edb.py
  src/pyedb/grpc/edb.py
  tests/grpc/system/test_edb.py
  tests/legacy/system/test_edb.py
Labels: testing

#1329 FEAT: Adding import - export layout component
  src/pyedb/grpc/edb.py
  tests/grpc/system/test_edb.py
Labels: testing

#1332 FIX: components.create
  src/pyedb/configuration/configuration.py
  src/pyedb/dotnet/database/components.py
Labels: grpc-transition

#1327 FIX: stackup fill_material
  src/pyedb/dotnet/database/edb_data/layer_data.py
Labels: grpc-transition

#1343 BUILD: Bump pydantic upper bound to <2.12
  pyproject.toml
Labels: maintenance, dependencies

#1346 FEAT: edb cfg export variables
  src/pyedb/configuration/cfg_common.py
  src/pyedb/configuration/cfg_data.py
  src/pyedb/configuration/configuration.py
  tests/legacy/system/conftest.py
  tests/legacy/system/test_edb_configuration_2p0.py
Labels: testing

#1361 REFACTOR: edb cfg stackup
  src/pyedb/configuration/cfg_data.py
  src/pyedb/configuration/cfg_stackup.py
  src/pyedb/configuration/configuration.py
  tests/legacy/system/test_edb_configuration_2p0.py
Labels: testing

#1352 FEAT: Siwave cpa simulation setup
  doc/source/grpc_api/grpc/database/pyedb_lib/simulation_setup/index.rst
  doc/source/grpc_api/grpc/database/pyedb_lib/simulation_setup/siwave_cpa_simulation_setup.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
  src/pyedb/dotnet/database/siwave.py
  src/pyedb/dotnet/database/utilities/siwave_cpa_simulation_setup.py
  src/pyedb/dotnet/edb.py
  src/pyedb/grpc/database/simulation_setup/siwave_cpa_simulation_setup.py
  src/pyedb/grpc/database/siwave.py
  src/pyedb/grpc/edb.py
  src/pyedb/siwave_core/cpa/simulation_setup_data_model.py
  src/pyedb/siwave_core/product_properties.py
  tests/grpc/system/test_edb.py
  tests/legacy/system/test_edb.py
Labels: documentation, testing, grpc-transition

#1294 CHORE: Ansys version warning vs grpc
  .pre-commit-config.yaml
  src/pyedb/dotnet/database/dotnet/database.py
  src/pyedb/generic/design_types.py
  src/pyedb/generic/grpc_warnings.py
Labels: testing

#1381 REFACTOR: dotnet tests
  src/pyedb/dotnet/database/dotnet/database.py
  src/pyedb/generic/design_types.py
  src/pyedb/grpc/edb.py
  src/pyedb/grpc/edb_init.py
  tests/conftest.py
  tests/grpc/system/test_edb.py
  tests/legacy/system/conftest.py
  tests/legacy/system/test_edb.py
  tests/legacy/system/test_edb_components.py
  tests/legacy/system/test_edb_configuration_1p0.py
  tests/legacy/system/test_edb_configuration_2p0.py
  tests/legacy/system/test_edb_definition.py
  tests/legacy/system/test_edb_ipc.py
  tests/legacy/system/test_edb_modeler.py
  tests/legacy/system/test_edb_nets.py
  tests/legacy/system/test_edb_padstacks.py
  tests/legacy/system/test_edb_stackup.py
  tests/legacy/unit/test_edb.py
Labels: testing

#1393 CHORE: pyedb-core dependancy
  pyproject.toml
Labels: maintenance, dependencies

#1377 FEAT: Pyedb value handling
  src/pyedb/dotnet/database/cell/primitive/primitive.py
  src/pyedb/dotnet/edb.py
  src/pyedb/grpc/__init__.py
  src/pyedb/grpc/database/components.py
  src/pyedb/grpc/database/definition/materials.py
  src/pyedb/grpc/database/definition/package_def.py
  src/pyedb/grpc/database/definition/padstack_def.py
  src/pyedb/grpc/database/geometry/arc_data.py
  src/pyedb/grpc/database/geometry/point_3d_data.py
  src/pyedb/grpc/database/geometry/polygon_data.py
  src/pyedb/grpc/database/hierarchy/component.py
  src/pyedb/grpc/database/hierarchy/pin_pair_model.py
  src/pyedb/grpc/database/hierarchy/pingroup.py
  src/pyedb/grpc/database/layers/stackup_layer.py
  src/pyedb/grpc/database/layout/voltage_regulator.py
  src/pyedb/grpc/database/modeler.py
  src/pyedb/grpc/database/padstacks.py
  src/pyedb/grpc/database/ports/ports.py
  src/pyedb/grpc/database/primitive/bondwire.py
  src/pyedb/grpc/database/primitive/circle.py
  src/pyedb/grpc/database/primitive/padstack_instance.py
  src/pyedb/grpc/database/primitive/path.py
  src/pyedb/grpc/database/primitive/polygon.py
  src/pyedb/grpc/database/primitive/primitive.py
  src/pyedb/grpc/database/primitive/rectangle.py
  src/pyedb/grpc/database/simulation_setup/hfss_general_settings.py
  src/pyedb/grpc/database/source_excitations.py
  src/pyedb/grpc/database/stackup.py
  src/pyedb/grpc/database/terminal/bundle_terminal.py
  src/pyedb/grpc/database/terminal/padstack_instance_terminal.py
  src/pyedb/grpc/database/terminal/pingroup_terminal.py
  src/pyedb/grpc/database/terminal/point_terminal.py
  src/pyedb/grpc/database/terminal/terminal.py
  src/pyedb/grpc/database/utility/value.py
  src/pyedb/grpc/edb.py
  tests/system/test_edb.py
  tests/system/test_edb_modeler.py
Labels: testing

#1394 FIX: export variables
  src/pyedb/configuration/configuration.py
  tests/system/test_edb_configuration_2p0.py
Labels: testing

#1396 CHORE: skip tests on cfg file with grpc
  tests/conftest.py
  tests/system/test_edb_configuration_2p0.py
Labels: testing

#1400 FIX: some issues fixed
  src/pyedb/grpc/database/layout/layout.py
  src/pyedb/grpc/database/modeler.py
  src/pyedb/grpc/database/net/net.py
  src/pyedb/grpc/database/padstacks.py
  src/pyedb/grpc/edb_init.py
  tests/conftest.py
  tests/system/test_edb.py
  tests/system/test_edb_configuration_2p0.py
Labels: testing

#1397 FIX: Improve grpc tests
  src/pyedb/grpc/database/modeler.py
  src/pyedb/grpc/database/terminal/bundle_terminal.py
  src/pyedb/grpc/edb.py
  tests/system/test_edb_components.py
  tests/system/test_edb_configuration_2p0.py
Labels: testing

#1402 CI: Extend pyedb testing
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

#1421 REFACTOR: edb structure
  src/pyedb/configuration/cfg_ports_sources.py
  src/pyedb/dotnet/database/cell/hierarchy/component.py
  src/pyedb/dotnet/database/cell/hierarchy/model.py
  src/pyedb/dotnet/database/cell/layout_obj.py
  src/pyedb/dotnet/database/cell/primitive/path.py
  src/pyedb/dotnet/database/cell/primitive/primitive.py
  src/pyedb/dotnet/database/cell/terminal/edge_terminal.py
  src/pyedb/dotnet/database/cell/terminal/padstack_instance_terminal.py
  src/pyedb/dotnet/database/cell/terminal/pingroup_terminal.py
  src/pyedb/dotnet/database/cell/terminal/point_terminal.py
  src/pyedb/dotnet/database/cell/terminal/terminal.py
  src/pyedb/dotnet/database/components.py
  src/pyedb/dotnet/database/definition/component_def.py
  src/pyedb/dotnet/database/definition/component_model.py
  src/pyedb/dotnet/database/definition/package_def.py
  src/pyedb/dotnet/database/dotnet/database.py
  src/pyedb/dotnet/database/dotnet/primitive.py
  src/pyedb/dotnet/database/edb_data/hfss_extent_info.py
  src/pyedb/dotnet/database/edb_data/layer_data.py
  src/pyedb/dotnet/database/edb_data/padstacks_data.py
  src/pyedb/dotnet/database/edb_data/primitives_data.py
  src/pyedb/dotnet/database/edb_data/sources.py
  src/pyedb/dotnet/database/edb_data/variables.py
  src/pyedb/dotnet/database/geometry/point_data.py
  src/pyedb/dotnet/database/geometry/polygon_data.py
  src/pyedb/dotnet/database/hfss.py
  src/pyedb/dotnet/database/layout_validation.py
  src/pyedb/dotnet/database/materials.py
  src/pyedb/dotnet/database/modeler.py
  src/pyedb/dotnet/database/nets.py
  src/pyedb/dotnet/database/padstack.py
  src/pyedb/dotnet/database/siwave.py
  src/pyedb/dotnet/database/stackup.py
  src/pyedb/dotnet/database/utilities/heatsink.py
  src/pyedb/dotnet/database/utilities/obj_base.py
  src/pyedb/dotnet/database/utilities/value.py
  src/pyedb/dotnet/edb.py
  src/pyedb/generic/general_methods.py
  src/pyedb/grpc/database/modeler.py
  src/pyedb/grpc/database/padstacks.py
  src/pyedb/grpc/database/stackup.py
  tests/system/test_edb.py
  tests/system/test_edb_components.py
  tests/system/test_edb_configuration_2p0.py
  tests/system/test_edb_database_utilities.py
  tests/system/test_edb_materials.py
  tests/system/test_edb_padstacks.py
  tests/system/test_edb_stackup.py
  tests/unit/test_edb.py
Labels: testing, grpc-transition

#1425 FIX: tests
  src/pyedb/dotnet/database/layout_validation.py
  tests/system/test_edb.py
  tests/system/test_edb_components.py
  tests/system/test_edb_configuration_2p0.py
  tests/system/test_layout_validation.py
Labels: testing, grpc-transition
