Repository ansys/pyedb, pull requests merged in 2025-03, with the labels that each got.

#1052 FIX: edb cfg equipotential - quad and inline
  src/pyedb/configuration/cfg_ports_sources.py
  src/pyedb/dotnet/edb_core/edb_data/padstacks_data.py
  tests/legacy/system/test_edb_padstacks.py
Labels: testing

#1057 CHORE: CICD PyAEDT main branch test fix
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

#1061 FIX(release): avoid metadata 2.4
  pyproject.toml
Labels: maintenance, dependencies

#1065 FEAT: update materials from syslib
  src/pyedb/dotnet/edb_core/materials.py
  tests/legacy/system/test_edb_materials.py
Labels: testing, grpc-transition

#1070 FIX: release fix
  src/pyedb/grpc/database/primitive/primitive.py
  tests/conftest.py
Labels: testing

#1071 FIX: Fixing tests
  src/pyedb/grpc/edb.py
  tests/grpc/system/test_edb.py
  tests/grpc/system/test_edb_components.py
  tests/grpc/system/test_edb_modeler.py
  tests/grpc/system/test_edb_nets.py
Labels: testing

#1050 FIX: Circuit port creation
  src/pyedb/dotnet/database/components.py
  tests/legacy/system/test_edb.py
Labels: testing, grpc-transition

#1079 CI: Add mandatory inputs to deploy actions
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

#1080 FEAT: edb cfg export wave port
  src/pyedb/configuration/cfg_ports_sources.py
  src/pyedb/dotnet/database/cell/terminal/edge_terminal.py
  src/pyedb/dotnet/database/edb_data/ports.py
  tests/legacy/system/test_edb_configuration_2p0.py
Labels: testing
