Repository ansys/pyedb, pull requests merged in 2025-01, with the labels that each got.

#963 DOCS: Fix typos in README.md
  README.md
Labels: documentation

#968 CI: Updates to use the new self-hosted runner
  .github/workflows/ci_cd.yml
  src/pyedb/generic/process.py
  tests/legacy/system/test_edb.py
Labels: maintenance, dependencies, testing, ci/cd

#966 REFACTOR: Optimize Edb initialization for die designs
  src/pyedb/dotnet/edb_core/components.py
Labels: grpc-transition

#967 FIX: bug in create pin group, replace logger.error with raise Value e…
  src/pyedb/configuration/cfg_pin_groups.py
  src/pyedb/dotnet/edb_core/siwave.py
Labels: grpc-transition

#971 CI: Use renamed ansys action
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

#953 FEAT: Via clustering extending line support
  src/pyedb/dotnet/edb_core/padstack.py
  tests/legacy/system/test_edb_padstacks.py
Labels: testing, grpc-transition

#972 TEST: Use pytest tmpdir instead of user HOME
  tests/legacy/unit/test_edbsiwave.py
Labels: testing

#973 FIX: Arbitrary waveport meshing fix
  src/pyedb/dotnet/edb.py
  tests/legacy/system/test_edb.py
Labels: testing

#990 CI: Deselect from project root
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

#991 FIX: merge_via bugs
  src/pyedb/dotnet/edb_core/padstack.py
  tests/example_models/TEDB/merge_via_4layers.aedb/edb.def
  tests/legacy/system/test_edb_padstacks.py
Labels: testing, grpc-transition

#992 FIX: merge via filtered by start and stop layers
  src/pyedb/dotnet/edb_core/padstack.py
Labels: grpc-transition

#994 FIX: Import gd s
  examples/legacy_standalone/10_GDS_workflow.py
  src/pyedb/dotnet/edb.py
  src/pyedb/dotnet/edb_core/edb_data/control_file.py
  tests/example_models/cad/GDS/sky130_fictitious_dtc_example_control_no_map.xml
  tests/legacy/system/test_edb.py
Labels: documentation, testing

#999 FEAT: Edb cfg equipotential
  examples/use_configuration/import_sources.py
  src/pyedb/configuration/cfg_ports_sources.py
  src/pyedb/dotnet/edb_core/cell/primitive/primitive.py
  src/pyedb/dotnet/edb_core/edb_data/padstacks_data.py
  tests/legacy/system/test_edb_configuration_2p0.py
Labels: bug, enhancement

#1002 REFACTOR: edb cfg equipotential region
  examples/use_configuration/import_sources.py
  src/pyedb/configuration/cfg_ports_sources.py
  src/pyedb/dotnet/edb_core/edb_data/padstacks_data.py
  src/pyedb/dotnet/edb_core/modeler.py
  tests/legacy/system/test_edb_configuration_2p0.py
Labels: documentation, testing, grpc-transition
