Repository ansys/pyedb, pull requests merged in 2025-09, with the labels that each got.

#1478 REFACTOR: Replace ``random`` by ``secrets`` for random number generation and sampling
  src/pyedb/generic/data_handlers.py
  src/pyedb/generic/filesystem.py
  src/pyedb/generic/general_methods.py
  src/pyedb/grpc/rpc_session.py
  tests/conftest.py
Labels: testing

#1473 CHORE: grpc cicd
  .github/workflows/ci_cd.yml
  src/pyedb/grpc/database/components.py
  src/pyedb/grpc/database/layout/layout.py
  src/pyedb/grpc/database/layout_validation.py
  src/pyedb/grpc/database/modeler.py
  src/pyedb/grpc/database/simulation_setup/siwave_cpa_simulation_setup.py
  src/pyedb/grpc/edb.py
  tests/conftest.py
  tests/system/test_edb_extended_nets.py
  tests/system/test_edb_layout.py
  tests/system/test_edb_net_classes.py
  tests/system/test_edb_nets.py
  tests/system/test_edb_padstacks.py
  tests/system/test_rf_libraries.py
Labels: maintenance, testing, ci/cd

#1499 FIX: skip RLC without RLC model
  src/pyedb/dotnet/database/nets.py
  src/pyedb/grpc/database/net/extended_net.py
Labels: grpc-transition

#1544 FIX: Cell array improvement
  src/pyedb/dotnet/database/components.py
  src/pyedb/extensions/create_cell_array.py
  src/pyedb/grpc/database/components.py
  src/pyedb/grpc/database/modeler.py
Labels: grpc-transition

#1550 DOCS: Update archive.rst
  doc/source/archive.rst
Labels: documentation

#1556 FEAT: EDB CFG auto_mesh_operation
  src/pyedb/configuration/cfg_setup.py
  src/pyedb/configuration/configuration.py
  tests/system/test_edb_configuration_2p0.py
Labels: testing

#1563 CHORE: Adding ``SECURITY.md`` file
  SECURITY.md
Labels: maintenance
