Repository ansys/pyedb, pull requests merged in 2025-02, with the labels that each got.

#1005 FEAT: Point in polygon
  src/pyedb/dotnet/edb_core/cell/layout.py
  src/pyedb/dotnet/edb_core/edb_data/padstacks_data.py
  src/pyedb/dotnet/edb_core/geometry/polygon_data.py
  tests/legacy/system/test_edb_layout.py
Labels: testing

#1011 FEAT: Min converged passes added
  src/pyedb/dotnet/edb_core/sim_setup_data/data/settings.py
  tests/legacy/system/test_edb.py
Labels: testing

#1013 REFACTOR: EDB CFG
  examples/use_configuration/import_components.py
  src/pyedb/configuration/cfg_common.py
  src/pyedb/configuration/cfg_components.py
  src/pyedb/configuration/cfg_modeler.py
  src/pyedb/configuration/cfg_padstacks.py
  tests/legacy/system/test_edb_configuration_2p0.py
Labels: documentation, testing

#1017 FIX: Speed up via delete
  src/pyedb/dotnet/edb_core/padstack.py
Labels: grpc-transition

#1018 FEAT: edb cfg probes
  src/pyedb/configuration/cfg_data.py
  src/pyedb/configuration/cfg_ports_sources.py
  src/pyedb/configuration/configuration.py
  tests/legacy/system/test_edb_configuration_2p0.py
Labels: testing

#1021 REFACTOR: remove examples
  doc/source/conf.py
  doc/source/index.rst
  examples/index.rst
  examples/legacy_pyaedt_integration/03_5G_antenna_example.py
  examples/legacy_pyaedt_integration/03_5G_antenna_example_parametrics.py
  examples/legacy_pyaedt_integration/04_edb_parametrized_design.py
  examples/legacy_pyaedt_integration/09_Configuration.py
  examples/legacy_pyaedt_integration/12_edb_sma_connector_on_board.py
  examples/legacy_pyaedt_integration/13_edb_create_component.py
  examples/legacy_pyaedt_integration/14_edb_create_parametrized_design.py
  examples/legacy_pyaedt_integration/15_ac_analysis.py
  examples/legacy_pyaedt_integration/_static/connector_example.png
  examples/legacy_pyaedt_integration/_static/edb_example_12_sma_connector_on_board.png
  examples/legacy_pyaedt_integration/_static/parameterized_design.png
  examples/legacy_pyaedt_integration/_static/pcb_transition_parameterized.png
  examples/legacy_pyaedt_integration/index.rst
  examples/legacy_standalone/00_EDB_Create_VIA.py
  examples/legacy_standalone/01_edb_example.py
  examples/legacy_standalone/02_edb_to_ipc2581.py
  examples/legacy_standalone/03_rename_nets_and_ports.py
  examples/legacy_standalone/05_Plot_nets.py
  examples/legacy_standalone/06_Advanced_EDB.py
  examples/legacy_standalone/08_CPWG.py
  examples/legacy_standalone/10_GDS_workflow.py
  examples/legacy_standalone/11_post_layout_parameterization.py
  examples/legacy_standalone/_static/diff_via.png
  examples/legacy_standalone/index.rst
  examples/use_configuration/dcir.py
  examples/use_configuration/import_components.py
  examples/use_configuration/import_material.py
  examples/use_configuration/import_padstack_definitions.py
  examples/use_configuration/import_ports.py
  examples/use_configuration/import_setup_ac.py
  examples/use_configuration/import_sources.py
  examples/use_configuration/import_stackup.py
  examples/use_configuration/index.rst
  examples/use_configuration/pcb_dc_ir.py
  examples/use_configuration/pdn_analysis.py
  examples/use_configuration/serdes.py
Labels: documentation

#1033 REFACTOR: get example package design in unittest
  tests/legacy/system/conftest.py
Labels: testing

#1016 FEAT: extension
  src/pyedb/extensions/pre_layout_design_toolkit/via_design.py
  tests/legacy/system/test_edb_ipc.py
  tests/legacy/system/test_extensions.py
Labels: testing

#1042 CHORE: Documentation build not using self hosted runner
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

#1037 FIX: Edb cfg enhancement
  src/pyedb/configuration/cfg_ports_sources.py
  src/pyedb/dotnet/edb_core/cell/layout.py
  src/pyedb/dotnet/edb_core/edb_data/padstacks_data.py
  tests/legacy/system/test_edb_configuration_2p0.py
Labels: testing

#1043 CHORE: Conftest 251
  tests/legacy/system/conftest.py
Labels: testing

#1048 CHORE: Unit test fix
  .github/workflows/ci_cd.yml
  tests/conftest.py
Labels: maintenance, testing, ci/cd
